p {margin-top: 0px; margin-bottom: 0px; font-family: Roboto, Arial;}
.text1{font-weight: 500; font-size: 16px; }
img.imag{border-radius: 11px; cursor: pointer;}
img.imagg{border-radius: 50px; cursor: pointer; width: 36; height: 36;}
.logo, .paragraphs {display: inline-block; cursor: pointer;}
.logo{vertical-align: top; margin-left: 5px; margin-top: 5px; }
.imagg{width: 40px; height: 40px; border-radius: 20px;}
.text2{color: rgb(114, 114, 114); font-size: 14px;}
.text2:hover{color: rgb(0, 0, 0);}
.text3{color: rgb(114, 114, 114); font-size: 14px;}
.paragraphs{margin-left: 10px; margin-top: 5px;}
.preview{ margin-right: 10px;}
.grid{display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; row-gap: 40px;}